<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'members:index' %}"><i class="fa-solid fa-user-group"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link  {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                       aria-current="page" href="{% url 'members:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
                       href="{% url 'members:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'members:contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'members' %}active{% endif %}" href="{% url 'members:members' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'process_get_form' %}active{% endif %}"
                       href="{% url 'members:process_get_form' %}">process get form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'category_selection_form' %}active{% endif %}"
                       href="{% url 'members:category_selection_form' %}">category selection form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'submit_feedback' %}active{% endif %}"
                       href="{% url 'members:submit_feedback' %}">submit_feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'static_template_view' %}active{% endif %}"
                       href="{% url 'members:static_template_view' %}">static template view</a>
                </li>
            </ul>
        </div>
    </div>
</nav>