{%extends 'base.html'%}
{%block title%}Static View{%endblock%}
{%block content%}
<div class="container my-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body text-center">
      <!-- Іконка -->
      <i class="bi bi-people-fill" style="font-size: 3rem; color: #0d6efd;"></i>
      <!-- Заголовок -->
      <h5 class="card-title mt-3">Card Title</h5>
      <!-- Текст -->
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non lorem eu arcu laoreet fermentum.
      </p>
      <!-- Кнопка -->
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{%endblock%}